img{
	height: 50px;
	width: 350px;
	padding: 25px;
}
.jumbotron{
	background-image:url("images/sea-black-and-white-water-ocean.jpg");
	position: cover;
}
h2{
	text-align: center;
	background-color:rgba(0,0,0,0.2);
	font-size:50px;
}